*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

 /* ***** header ***** */
 header{
     background-color: white;
 }

#logo{
    height: 100%;
    vertical-align: middle;
    margin: 10px 0px 10px 10px;
}

#logo-text{
    color: #021732;
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}

/* ***** main ******/

main{
    background-color: #f6f8f9;
}

.container-main{
    background-color: white;
    width: 60%;
    border-radius: 30px 30px 0px 0px;
    margin: auto;
    border: 20px solid #f6f8f9;
}

.button-top{
    padding: 8px;
    margin: 10px 0px 10px 10px;
}

.task{
    color: white;
    background-color: #61aceb ;
    border: 0.5px solid #61aceb;
    border-radius: 5px;
}

.section{
    color: #c6cbcf;
    background-color: white ;
    border: 0.5px solid #c6cbcf;
    border-radius: 5px;
}

hr{
    background-color: #f6f8f9 ;
    color: #f6f8f9;
    border: 1px solid #f6f8f9;
}

.newtask div::before {
    content:'\2713';
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #aedace;
    color: #aedace;
}

.text{
    display: inline-block;
}

.button-bottom{
    color: white;
    background-color: #61aceb ;
    border: 0.5px solid #61aceb;
    padding: 5px;
    border-radius: 15px;

}