*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

 /* ***** header ***** */
 header{
     background-color: white;
 }

#logo{
    height: 100%;
    vertical-align: middle;
    margin: 10px 0px 10px 10px;
}

#logo-text{
    color: #021732;
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}

/* ***** main ******/

main{
    background-color: #f6f8f9;
}

.container-main{
    background-color: white;
    width: 60%;
    border-radius: 30px 30px 0px 0px;
    margin: auto;
    border: 20px solid #f6f8f9;
    line-height: 2;
}

.button-top{
    padding: 8px;
    margin: 10px 0px 10px 10px;
}

.task{
    color: white;
    background-color: #61aceb ;
    border: 0.5px solid #61aceb;
    border-radius: 5px;
}

.section{
    color: #c6cbcf;
    background-color: white ;
    border: 0.5px solid #c6cbcf;
    border-radius: 5px;
}

hr{
    background-color: #f6f8f9 ;
    color: #f6f8f9;
    border: 1px solid #f6f8f9;
}

.text{
    margin: 5px 0px 5px 0px;
}

.padding
{
    padding-top: 40px;
    padding-left: 40px;
}

.check div::before {
    content:'\2713';
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #aedace;
    color: #aedace;
}

.uncheck div::before {
    content:'\2717';
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #f36967;
    color: #f36967;
}

.block{
    display: block;
}

.text{
    display: inline-block;
}

.button-bottom{
    font-size: 10px;
    color: white;
    padding: 5px;
    border-radius: 12px;
    width: 60px;
}

.editorial{
    background-color: #61aceb ;
    border: 0.5px solid #61aceb;
}

.q1goals{
    background-color: #9368dc ;
    border: 0.5px solid #9368dc;
}
.recruiting{
    background-color: #4ab89f ;
    border: 0.5px solid #4ab89f;
}
.mobile{
    background-color: #f8933a ;
    border: 0.5px solid #f8933a;
}

.website{
    background-color: #db5a96 ;
    border: 0.5px solid #db5a96;
}

.sales{
    background-color: #a5c135 ;
    border: 0.5px solid #a5c135;
}