*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* ***** header ***** */

#logo{
    vertical-align: middle;
    margin: 10px 0px 10px 10px;
}

#scritta-logo{
    color: #021732;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    vertical-align: middle;
}

/* ***** main ***** */